@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050505;
  color: #e5e7eb;
}

::selection {
  background-color: #34d399;
  color: #000000;
}
